body{
    background-color: white;
    animation: dayToNight 10s infinite 1.5s;

} .content{
    position:absolute;
    top: 50%;
    left: 50%;transform:translate(-50%, -50%);
    display:block;

}
.sun{
    height:150px;
    width:150px;
    border-radius: 50%;
    background-color: #fcd258;
    border: #fcd258;
    overflow: hidden;
    animation: dayToNight2 10s infinite 1.5s;
    
}
.shadow{
    height:170px;
    width:170px;
    border-radius: 50%;
    background-color: white;
    top: -50%;
    left:0px;
    animation: moveShadow 10s infinite 1.5s;
}
@keyframes moveShadow{
    0%{
        transform: translateX(150px);
        background-color: white;
    }
    50%{
        transform : translateX(-10px);
        background-color: black;
    }
    100%{
        transform: translatex(-170px);
        background-color: white;
    }
}

@keyframes dayToNight{
    0%{
        background-color: white;

    }
    50%{
        background-color: black;
    }
    100%{
        background-color: white;
    }
}